<h1>Invitation mail</h1>

<p>
  Hi <%= @email %>, </br>
  <%= @sender %> invited you to join Git-Api, a website where you can manage your github account easly.</br>
  To accept the invitation, please click the link below.
  <%= root_url %>
</p>
